.nav-container {
  text-align: center;

  
}
.nav-ul {
  background-color: #008900;
  font-size: 2rem;
  display: inline-flex;
  position: absolute;
  color: #fff; 
  list-style-type: none;
  width: 45%;
}

.nav-side {
  background-color: #F98C36;
  color: #fff;
  width: 50%;
  position: relative;
  display: inline-block;
  align-content: start;
  list-style-type: none;
  font-size: 2rem;
}
.pears{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}